@model GFLHApp.Models.Orders

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryMethod" class="control-label"></label>
                <input asp-for="DeliveryMethod" class="form-control" />
                <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Delivery" /> @Html.DisplayNameFor(model => model.Delivery)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Collection" /> @Html.DisplayNameFor(model => model.Collection)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OrdersTotal" class="control-label"></label>
                <input asp-for="OrdersTotal" class="form-control" />
                <span asp-validation-for="OrdersTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingStatus" class="control-label"></label>
                <input asp-for="TrackingStatus" class="form-control" />
                <span asp-validation-for="TrackingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCollection" class="control-label"></label>
                <input asp-for="DateOfCollection" class="form-control" />
                <span asp-validation-for="DateOfCollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingLine1" class="control-label"></label>
                <input asp-for="BillingLine1" class="form-control" />
                <span asp-validation-for="BillingLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingLine2" class="control-label"></label>
                <input asp-for="BillingLine2" class="form-control" />
                <span asp-validation-for="BillingLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCity" class="control-label"></label>
                <input asp-for="BillingCity" class="form-control" />
                <span asp-validation-for="BillingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingPostcode" class="control-label"></label>
                <input asp-for="BillingPostcode" class="form-control" />
                <span asp-validation-for="BillingPostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryLine1" class="control-label"></label>
                <input asp-for="DeliveryLine1" class="form-control" />
                <span asp-validation-for="DeliveryLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryLine2" class="control-label"></label>
                <input asp-for="DeliveryLine2" class="form-control" />
                <span asp-validation-for="DeliveryLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCity" class="control-label"></label>
                <input asp-for="DeliveryCity" class="form-control" />
                <span asp-validation-for="DeliveryCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPostcode" class="control-label"></label>
                <input asp-for="DeliveryPostcode" class="form-control" />
                <span asp-validation-for="DeliveryPostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
